/* =================================== */
/* DESIGN SYSTEM */
/* =================================== */
/*

! --- 01 TYPOGRAPHY SYSTEM

* Font size system(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

* Font weights
Default: 400

* Line heights
Default: 1

! --- 02 COLORS

- Primary: Primäre Farbe 
- Tints (Farbtöne):
- Shades (Schattierungen):
- Accents:
- Greys: #555 Beliebte Grau Töne

! --- 05 SHADOWS

! --- 06 BORDER-RADIUS

! --- 07 WHITESPACE

* Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


Grün (#2f9e44
Weiß (#ffffff):
Grau (#212529
Blau (#007bff):
Orange (#fd7e14):
*/

/* =================================== */
/* FONTS */
/* =================================== */

@font-face {
  font-family: "";
  src: url();
}

/* =================================== */
/* RESET STYLES */
/* =================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* HELPER CLASSES */
/* ------------------------ */

.container {
  max-width: 144rem;
  margin: 0 auto;
  height: 100%;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

html {
  /* 10px / 16px * 100% = 62,5% */
  /* Percentage of users browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  // background-color: #e5e5f7;
  // opacity: 0.9;
  // background-size: 10px 10px;
  // background-image: repeating-linear-gradient(
  //   45deg,
  //   #2b8a3e 0,
  //   #2b8a3e 1px,
  //   #e5e5f7 0,
  //   #e5e5f7 50%
  // );
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#2b8a3e20, #2f9e44);
  font-size: 1.6rem;
}

h1 {
  font-size: 2rem;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
}

input[type="radio"] {
  accent-color: #2b8a3e;
}

select {
  max-width: 100%;
  padding: 8px;
  margin-block: 10px 15px;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
}

label {
  margin-block: 10px;
  font-size: 1.6rem;
  color: #ffffff;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* ------ MAIN ------ */

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: lightgray;
    padding: 20px;
    width: 26%;
    border-radius: 8px;
    background-color: rgb(33, 37, 41);

    h1 {
      font-size: 2.4rem;
      color: #ffffff;
    }

    .gender-wrapper {
      display: flex;
      margin-top: 10px;
      gap: 8px;
      color: #ffffff;
    }

    .gender-wrapper span {
      display: flex;
      gap: 5px;
    }

    .btn-submit {
      margin-bottom: 15px;
      background-color: #2b8a3e;
      color: #ffffff;
    }

    .btn-submit:hover {
      background-color: #2f9e44;
    }

    .result {
      font-size: 1.6rem;
      width: 100%;
      background-color: #2f9e44;
      border-radius: 8px;
    }

    .result span {
      display: inline-block;
      padding-block: 5px;
      padding-left: 5px;
      color: #ffffff;
    }

    // .result span:nth-of-type(1) {
    //   grid-column: 1 / 2;
    //   background-color: #2f9e44;
    // }
    // .result span:nth-of-type(2) {
    //   grid-column: 2 / 3;
    //   text-align: start;
    //   background-color: #2f9e44;
    // }
    // .result span:nth-of-type(3) {
    //   grid-column: 3 / 4;
    //   text-align: start;
    //   background-color: #2f9e44;
    // }

    .table-head {
      display: grid;
      grid-template-columns: 40% 30% 30%;
      background-color: #2b8a3e;
      padding: 5px;
      border-radius: 8px 8px 0 0;
    }

    .table-data {
      display: grid;
      grid-template-columns: 40% 30% 30%;
      grid-template-rows: repeat(2, 1fr);
      padding: 5px;
      border-radius: 0 0 8px 8px;
    }
  }
}
